html{
	font-family: 'Times New Roman', Times, serif;
	margin: 0 auto;
	background-color: rgba($color: #292828, $alpha: 1.0);
	color: white;
}

header{
	width: 100vw;
	background-color: black;
	.wrapper{
		padding: 1rem 10vw;
		font-size: 2rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content:space-between;
		gap: 20vh;
		.nav-left{
			a{
				text-decoration: none;
				color: white;
				span:hover{
					font-size: 2.2rem;
		  	}
			}
		}
		.nav-right{
			display: flex;
			list-style: none;
			gap: 3rem;
			a{
				text-decoration: none;
				color: white;
				&:hover{
				transform: scale(1.2);
				}
			}
		}
	}
}
@media screen and (max-width:767px) {
	header .wrapper{
		display: block;
		width: auto;
		font-size: 100%;
		.nav-left{
			margin-bottom: 1rem;
		}
		.nav-right{
      display: flex;
      justify-content: center;
		}
	}
}

// introductionページ
.introduction{
	font-size: 1.5rem;
	margin-top: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10vw;
	list-style: none;
	img{
		border-radius: 50%;
		width: 25vw;
		// width: 50%;
	}
}
@media screen and (max-width:767px){
	.introduction{
		display: block;
		text-align: center;
		img{
			margin-bottom: 5vh;
		}
		.myself{
			padding: 0 20vw;
			text-align: left;
			gap: 1rem;
		}
	}
}

// productsページ
.products{
	display: flex;
	justify-content: space-around;
	margin-top: 30vh;
	width: 100vw;
	figure{
		cursor: pointer;
		width: 30vw;
		&:hover {
			box-shadow:   
			0 1.9px 2.5px rgba(65, 64, 64, 0.057),
			0 5px 6.1px rgba(83, 70, 70, 0.076),
			0 10.1px 11.4px rgba(0, 0, 0, 0.086),
			0 19.2px 19.8px rgba(146, 122, 122, 0.092),
			0 38.4px 34.8px rgba(217, 168, 168, 0.1),
			0 101px 74px rgba(224, 119, 119, 0.13);
		}
	}
	figcaption{
		font-size: 1.5rem;
		text-align: center;
	}
}
@media screen and (max-width:767px){
	.products{
		display: block;
		margin: 5vh auto;
		padding: 1rem 10vw;
		text-align: center;
		figure{
			width: 100%;
			margin-bottom: 7em;
		}
		.item1{
			order: 3;
		}
		.item3{
			order: -1;
		}
	}
}

// contactページ
.contacts{
	padding-top: 30vh;
	text-align: center;
	h1{
		font-size: 2rem;
		padding-bottom: 5vh;
	}
	p{
		font-size: 1.5rem;
		padding-bottom: 2vh;
	}
	a{
		color: white;
		border-bottom: double 1px white;
		font-size: 1.5rem;
		&:hover{
			font-size: 1.7rem;
		}
	}
}